.v-application .light-blue.darken-9 {
  background-color: #417489 !important;
  border-color: #417489 !important;
}

.theme--dark.v-icon {
  color: #d9d9d9 !important;
}
.theme--dark.v-list-item {
  color: #d9d9d9 !important;
}

.v-navigation-drawer__content::-webkit-scrollbar {
  width: 4px;
}

.v-navigation-drawer__content::-webkit-scrollbar-track {
  background: #f2f2f2;
}

.v-navigation-drawer__content::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 5px;
}

@media only screen and (max-width: 768px) {
  .v-navigation-drawer__content::-webkit-scrollbar {
    width: 4px;
  }
  .v-navigation-drawer__content::-webkit-scrollbar-thumb {
    background: #ccc;
  }
}